@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

body {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #161616;
	color: white;
	font-family: 'Montserrat';
	flex-direction: column;
	padding: 16px;
}

.imgProfile {
	height: 150px;
	border-radius: 50%;
	border-color: aliceblue;
	border: 3px solid #323232;
	margin-bottom: 24px;
}

.aboutme {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 32px;
}

.materias {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.materias-box ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.materias-box ul div {
	border: 1px solid white;
	padding: 8px;
	width: 40%;
}

.materias-box ul div li {
	padding: 0 0 8px 0;
	border-bottom: 1px solid rgb(82, 82, 82);
	font-weight: 700;
	font-size: 14px;
}

.pontos {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 500;
}

.situacao {
	font-weight: 200;
	font-size: 10px;
}

.segundo-semestre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 24px;
	width: 60%;
}
